<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://dbfunnel.cjjmumrfzu9m.us-west-2.rds.amazonaws.com:3306/dbFunnel?</property>
    <property name="hibernate.connection.username">dbFunnel</property>
    <property name="hibernate.connection.password">dbFunnel</property>
      <mapping class="com.eci.nyrs.angularnyrs.models.Category"/>
      <mapping class="com.eci.nyrs.angularnyrs.models.Coupon"/>
      <mapping class="com.eci.nyrs.angularnyrs.models.KeyWords"/>
      <mapping class="com.eci.nyrs.angularnyrs.models.Person"/>
      <mapping class="com.eci.nyrs.angularnyrs.models.Town"/>
    <mapping class="com.eci.nyrs.angularnyrs.models.User"/>
  </session-factory>
</hibernate-configuration>
